//Navigation bar styles
.elementsNavBar{
    padding: 0;
    margin-top: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style-type: none
}

.elementsNavBar li:first-child{
    margin-right: auto;
}

.elementsNavBar #logo img{
    width: auto;
    height: 70px;
}

.elementsNavBar #options {
    display: flex;
    padding: 0;
    margin: 0;
}

.elementsNavBar #options ul{
    padding: 0;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.elementsNavBar #options ul li{
    margin: 0px 20px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.elementsNavBar #options ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.elementsNavBar li:last-child{
    margin-left: auto;
    margin-right: 10px;
}


.resultSearch{
    position: absolute;
    background-color: #ebe8e8;
    width: max-content;
    text-align: left;
    padding-right: 50px;
    z-index: 1;
}

.resultSearch ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    background-color: #ebe8e8;
    padding-right: 50px;
    z-index: 1;
}

.resultSearch ul li{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    list-style-type: none;
}

.searchRes{
    width: 150px;
    margin-top: 10px;
    border-radius: 16px;
    text-decoration: none;
}
.searchRes a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

#optionsMovil{
    display: none;
}

#options{
    display: block; 
}

.showOptions{
    
}

.showOptions ul{
    display: none;
    background-color: #ebe8e8;
    z-index: 1;

}

.showOptions:hover {
    background-color: #ebe8e8;
    cursor: pointer;
}

.showOptions:hover ul{
    display: block;
    cursor: pointer;
    position: absolute;

}

.showOptions:hover ul li {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    list-style-type: none;
}

.showOptions:hover ul li a{
    
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    display: block;
    width: 100%;
    text-align: left;
}

.imagenLogo{
    margin-left: 10px;
}


  .pagBlog{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 68.5% 28.5% ;
    column-gap: 5%;
  }

  //Seccion de blog
  .containerBlog{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .containerBlog .blogs{
    display:  grid;
    grid-template-columns: 80%;
    row-gap: 15px;
    
  }

  .containerBlog .blogs .blog {
    margin: 15px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 30% 60%;
    column-gap: 10%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    cursor: pointer;
  }

  .containerBlog .blogs .blog h3 {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  .containerBlog .blogs .blog p {
    padding: 10px;
    text-align: left;
    font-size: 12px;
  }

  .containerBlog .blogs .blog img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
  }

  .containerBlog .blogs .blog .button{
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
  }

  .containerBlog .blogs .blog button{
    width: 150px;
    height: 50px;

    background-color: #0684cd;
    border: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }

  .containerBlog .verMas{
    text-align: left;
    display: flex;
    flex-direction: row;
  }

  .containerBlog .verMas p{
    margin-top: auto;
    margin-bottom: auto;
  }

  .relacionadas h3{
    font-size: 14px;
    font-weight: bold;

  }

  //Seccion de footer
  

  footer{
    background-color: #afdff5;
    height: 490px;
    position: relative;
    text-align: center;
    justify-content: center;
  }



  .containerContactanos{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50%;
    background-color: #0684cd;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    padding: 15px;
  }

  .containerContactanos .contactanos{
    margin: 15px;
    display:  grid;
    grid-template-columns: 45% 45%;
    column-gap: 5%;

  }

  .mensaje {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .mensaje mat-form-field{
    width: 100%;
    height: 100%;
  }

  .contacto{
    display: flex;
    flex-direction: row;
  }

  .contacto .label{
    display: flex;
    flex-direction: row;
  }

  .contacto mat-form-field{
    max-width: 100%; 
    width: 100%;
  }
  
  .contacto .label mat-icon{
    margin-right: 5px;
  }

  .containerInformacion{
    position: absolute;
    top: 25px;
    right: 15px;
    text-align: right;
  }

  footer h5{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;

  }

  footer h5{
    font-size: 12px;
    margin-bottom: 10px;
  }

  footer hr{
    width: 80%;
    margin-top: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }


//------------------RESPONSIVE------------------//
// Seccion de responsive
@media (max-width: 1040px) {

    //responsive de la barra de busqueda
    .resultSearch ul{
        padding-right: 15px;
    }

    //responsive de la barra de navegacion
    #optionsMovil {
      display: block; 
    }

    .showOptions{
      padding-right: 150px;
    }


    .elementsNavBar #logo img{
        width: auto;
        height: 50px;
    }
    
    #options {
      display: none!important; 
    }

    .searchBox{
        width: 180px;
    }

    .resultSearch{
        padding-right: 10px;
    }

    .searchRes{
        width: 120px;
    }


      //responsive de blog

      .pagBlog{
        grid-template-columns: 100% ;
        column-gap: 5%;
        row-gap: 15px;
      }

      .containerBlog{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
      }
    
      .containerBlog .blogs{
        display:  grid;
        margin-top: 15px;
        grid-template-columns: 90% ;
      }
    
      //responsive de footer
      footer{
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        background-color: #afdff5;
      }


      .containerContactanos{
        position: static;
        width: 90%;
        margin-top: 25px;
      }

      .containerContactanos .contactanos{
        margin: 15px;
        display:  grid;
        grid-template-columns: 90%;
        column-gap: 5%;
    
      }

      .mensaje {
        grid-row-start: 5;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 1;
      }

      .containerInformacion{
        position: static;
        margin-top: 25px;
        text-align: center;
      }

      footer hr{
        width: 90%;
        margin-top: 20px;
      }
  }