<div class="bodies">
  <div class="menu">
    <header>
          <a href="#inicio" class="menu2" ><img src="assets/images/Logo izq.png" alt="Logo de la empresa" style="width: 100px;"></a>
          <a href="#ctic" class="menu2">CTIC</a>
          <a href="#servicios" class="menu2">Servicios</a>
          <a href="blog" class="menu2">Blog</a>
          <a href="#contactanos" class="menu2 x">Contactanos</a>
    </header>
  </div>
<body>


  <div class="slider" id="inicio">
    <ngx-slick-carousel 
      class="carrusel"
      [config]="slideConfig"
      #slickModal="slick-carousel"
      >
      <div ngxSlickItem *ngFor="let imagen of imageUrls" class="bloqueHeader">
        <img src="{{imagen}}" alt="" />
      </div>
    </ngx-slick-carousel>
  </div>
  
      <!-------------------------------------------------------------------------------------------------------------------------->
      <!--Seccion mision y vision-->
      <!-------------------------------------------------------------------------------------------------------------------------->

      <br>
      <br>
      <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">MISION</h2>
                    <p class="lead">{{mision}}</p>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <img class="img-responsive" src="{{imagenMision}}" alt="">
                </div>
            </div>
        </div>
    </div>

    <br>
      <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <img class="img-responsive" src="{{imagenVision}}" alt="">
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">VISION</h2>
                  <p class="lead">{{visiones}}</p>
              </div>
            </div>
        </div>
    </div>
  
        
      <!-------------------------------------------------------------------------------------------------------------------------->
      <!--Seccion CTIC-->
      <!-------------------------------------------------------------------------------------------------------------------------->
        
      <br>
      <br>
      <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">¿Qué es CTIC?</h2>
                    <p class="lead">{{descripcion}}</p>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <img class="img-responsive" src="{{imagenDescripcion}}" alt="">
                </div>
            </div>
        </div>
    </div>

      
  
      <!-------------------------------------------------------------------------------------------------------------------------->
      <!--Seccion de Servicios-->
      <!-------------------------------------------------------------------------------------------------------------------------->
      <hr>
      <div id="servicios" class="contenido">
        <mat-card-title>
          Servicios:
        </mat-card-title>
        <mat-expansion-panel *ngFor="let servicios of servicios" hideToggle>
          <mat-expansion-panel-header style="height: auto; margin: 10px">
            <mat-panel-title>
              {{servicios.data.titulo}}
            </mat-panel-title>
            <mat-panel-description style="margin-left: auto;">
              <mat-icon>settings_applications</mat-icon>
                {{servicios.data.tecnologias}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-subtitle>{{servicios.data.tecnologias}}</mat-card-subtitle>
                <mat-card-title>{{servicios.data.titulo}}</mat-card-title>
                <img mat-card-lg-image src="{{servicios.data.imagen}}" > 
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <p>{{ servicios.data.descripcion }}</p>
              <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions style="display: flex; justify-content: center;">
              <button mat-fab extended>
                <mat-icon>favorite</mat-icon>
                LIKE
              </button>
              <div style="margin: 0 15px"></div>
              <button mat-fab extended (click)="verServicio(servicios)">
                <mat-icon>receipt</mat-icon>
                Ver Documentacion
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-expansion-panel>
        <mat-accordion class="example-headers-align">
          
        </mat-accordion>  
  
      </div>
      <!-------------------------------------------------------------------------------------------------------------------------->
      <!--Seccion de Blog-->
      <!-------------------------------------------------------------------------------------------------------------------------->
      <!---->
      <hr>
      <div id="blog" class="blog">
        <mat-grid-list cols="3" gutterSize="30px" >
          <mat-grid-tile *ngFor="let blog of blogs" [style.flex]="'1 0 auto'">
            <mat-card class="equipos-card">
              <img mat-card-lg-image src={{blog.data.imagen}}>
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>{{blog.data.titulo}}</mat-card-title>
                 <!-- <mat-card-subtitle>{{blog.texto}}</mat-card-subtitle>-->
                </mat-card-title-group>
              </mat-card-header>
              <mat-card-content>
                <button mat-fab extended color="warn" (click)="verBlog(blog)">
                  <mat-icon>assignment </mat-icon>
                  LEER EL POST
                </button>
                <!--{{blog.texto}}-->
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
        <!------------------------>
      </div>
  
      <!-------------------------------------------------------------------------------------------------------------------------->
      <!--Seccion de contacto-->
      <!-------------------------------------------------------------------------------------------------------------------------->
  
        <div class="content" id="contactanos">
          <div class="contact-wrapper animated bounceInUp">
              <div class="contact-form">
                  <h3>CONTACTANOS</h3>
                  <form action="">
                    
                      <p>
                          <label>NOMBRES</label>
                          <input type="text" name="fullname">
                      </p>
                      <p>
                          <label>APELLIDOS</label>
                          <input type="email" name="email">
                      </p>
                      <p>
                          <label>TELEFONO</label>
                          <input type="tel" name="phone">
                      </p>
                      <p>
                          <label>CORREO ELECTRONICO</label>
                          <input type="text" name="affair">
                      </p>
                      <p class="block">
                         <label>MENSAGE</label> 
                          <textarea name="message" rows="3"></textarea>
                      </p>
                      <p class="block">
                          <button>
                              ENVIAR
                          </button>
                      </p>
                  </form>
              </div>
              <div class="contact-info">
                  <h4>Para mas información</h4>
                  <ul>
                      <li><i class="fas fa-map-marker-alt"></i> Centrosur Matriz Cuenca</li>
                      <li><i class="fas fa-phone"></i> (+593) 96 120 3354</li>
                      <li><i class="fas fa-envelope-open-text"></i> Av. Max Uhle y Av. Pumapungo</li>
                  </ul>
                  <p>CTIC es un departamento de Centrosur ©</p>
                  <p>centrosur.gob.ec</p>
              </div>
          </div>
      
      </div>
</body>
</div>

