<div class="bodies">
  <div class="menu">
    <header>
          <a href="#inicio" class="menu2" ><img src="assets/images/Logo.png" alt="Logo de la empresa" style="width: 100px;"></a>
          <a href="#ctic" class="menu2">CTIC</a>
          <a href="#servicios" class="menu2">Servicios</a>
          <a href="blog" class="menu2">Blog</a>
          <a href="#contactanos" class="menu2 x">Contactanos</a>
    </header>
  </div>
<body>
  
      <!-------------------------------------------------------------------------------------------------------------------------->
      <!--Seccion mision y vision-->
      <!-------------------------------------------------------------------------------------------------------------------------->
      <div class="slider" id="inicio">
        <ngx-slick-carousel 
          class="carrusel"
          [config]="slideConfig"
          #slickModal="slick-carousel"
          >
          <div ngxSlickItem *ngFor="let imagen of imageUrls" class="bloqueHeader">
            <img src="{{imagen}}" alt="" />
          </div>
        </ngx-slick-carousel>
      </div>
      
      <br>
    
      <mat-grid-list class="gac" cols="4" rowHeight="350px" gutterSize="0.5px">
        <mat-grid-tile>
          <div class="bloqueCircular">
            <img src="{{imagenMision}}" />
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card  class="contenido">
            <mat-card-title>MISIÓN</mat-card-title>
            <mat-card-content>
               {{mision}}
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      
          <mat-grid-tile>
            <mat-card class="contenido">
              <mat-card-title >VISIÓN</mat-card-title>
              <mat-card-content>
                 {{visiones}}
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile >
            <div class="bloqueCircular">
              <img  src="{{imagenVision}}" />
            </div>
          </mat-grid-tile>
        </mat-grid-list>
  
        <br>
  
        
      <!-------------------------------------------------------------------------------------------------------------------------->
      <!--Seccion CTIC-->
      <!-------------------------------------------------------------------------------------------------------------------------->
        <div id="ctic" class="slider">      
          <mat-grid-list cols="2" rowHeight="400px" gutterSize="35px">
            <mat-grid-tile>
              <div class="bloqueRectangular">
                <img src="{{imagenDescripcion}}" />
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card style="background-color: white;">
                <mat-card-title>¿Qué es CTIC?</mat-card-title>
                <mat-card-content>
                   {{descripcion}}
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
          <br>
          <mat-card-title>
            Equipos:
          </mat-card-title>
          <mat-grid-list cols="2" gutterSize="30px" >
            <mat-grid-tile *ngFor="let equipo of equipos" [style.flex]="'1 0 auto'">
              <mat-card class="equipos-card">
                <img mat-card-lg-image src={{equipo.imagen}}>
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>{{equipo.titulo}}</mat-card-title>
                    <mat-card-subtitle>{{equipo.cargos}}</mat-card-subtitle>
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  {{equipo.descripcion}}
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
  
      <!-------------------------------------------------------------------------------------------------------------------------->
      <!--Seccion de Servicios-->
      <!-------------------------------------------------------------------------------------------------------------------------->
      <hr>
      <div id="servicios" class="contenido">
        <mat-card-title>
          Servicios:
        </mat-card-title>
        <mat-expansion-panel *ngFor="let servicios of servicios" hideToggle>
          <mat-expansion-panel-header style="height: auto; margin: 10px">
            <mat-panel-title>
              {{servicios.titulo}}
            </mat-panel-title>
            <mat-panel-description style="margin-left: auto;">
              <mat-icon>settings_applications</mat-icon>
                {{servicios.tecnologias}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-subtitle>{{servicios.tecnologias}}</mat-card-subtitle>
                <mat-card-title>{{servicios.titulo}}</mat-card-title>
                <img mat-card-lg-image src="{{servicios.imagen}}" > 
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <p>{{ servicios.descripcion }}</p>
              <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions style="display: flex; justify-content: center;">
              <button mat-fab extended>
                <mat-icon>favorite</mat-icon>
                LIKE
              </button>
              <div style="margin: 0 15px"></div>
              <button mat-fab extended (click)="verServicio(servicios)">
                <mat-icon>receipt</mat-icon>
                Ver Documentacion
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-expansion-panel>
        <mat-accordion class="example-headers-align">
          
        </mat-accordion>  
  
      </div>
      <!-------------------------------------------------------------------------------------------------------------------------->
      <!--Seccion de Blog-->
      <!-------------------------------------------------------------------------------------------------------------------------->
      <!---->
      <hr>
      <div id="blog" class="blog">
        <mat-grid-list cols="2" gutterSize="30px" >
          <mat-grid-tile *ngFor="let blog of blogs" [style.flex]="'1 0 auto'">
            <mat-card class="equipos-card">
              <img mat-card-lg-image src={{blog.imagen}}>
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>{{blog.titulo}}</mat-card-title>
                 <!-- <mat-card-subtitle>{{blog.texto}}</mat-card-subtitle>-->
                </mat-card-title-group>
              </mat-card-header>
              <mat-card-content>
                <button mat-fab extended color="warn" (click)="verBlog(blog)">
                  <mat-icon>assignment </mat-icon>
                  LEER EL POST
                </button>
                <!--{{blog.texto}}-->
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
        <!------------------------>
      </div>
  
      <!-------------------------------------------------------------------------------------------------------------------------->
      <!--Seccion de contacto-->
      <!-------------------------------------------------------------------------------------------------------------------------->
  
        <div class="content" id="contactanos">
          <div class="contact-wrapper animated bounceInUp">
              <div class="contact-form">
                  <h3>CONTACTANOS</h3>
                  <form action="">
                    
                      <p>
                          <label>NOMBRES</label>
                          <input type="text" name="fullname">
                      </p>
                      <p>
                          <label>APELLIDOS</label>
                          <input type="email" name="email">
                      </p>
                      <p>
                          <label>TELEFONO</label>
                          <input type="tel" name="phone">
                      </p>
                      <p>
                          <label>CORREO ELECTRONICO</label>
                          <input type="text" name="affair">
                      </p>
                      <p class="block">
                         <label>MENSAGE</label> 
                          <textarea name="message" rows="3"></textarea>
                      </p>
                      <p class="block">
                          <button>
                              ENVIAR
                          </button>
                      </p>
                  </form>
              </div>
              <div class="contact-info">
                  <h4>Para mas información</h4>
                  <ul>
                      <li><i class="fas fa-map-marker-alt"></i> Centrosur Matriz Cuenca</li>
                      <li><i class="fas fa-phone"></i> (+593) 96 120 3354</li>
                      <li><i class="fas fa-envelope-open-text"></i> Av. Max Uhle y Av. Pumapungo</li>
                  </ul>
                  <p>CTIC es un departamento de Centrosur ©</p>
                  <p>centrosur.gob.ec</p>
              </div>
          </div>
      
      </div>
</body>
</div>