<header>
  <a href="">Servicios</a>
  <img src="assets/images/Logo.png" alt="Logo de la empresa">
  <a href="">Contacto</a>
</header>
<body>
  <br>
  <div class='slider' *ngFor="let imagen of images">
    <img src= "{{imagen}}"/>
  </div>
  <br>

  <mat-grid-list cols="2" rowHeight="1.5:1">
    <mat-grid-tile>
      <img src="https://firebasestorage.googleapis.com/v0/b/bd-ctic.appspot.com/o/Imagenes%2FHeader%2Fimage_2023-05-03_144833806.png?alt=media&token=81c9da56-3113-4c58-84ab-fd9fc01c8a84" />
    </mat-grid-tile>
    <mat-grid-tile>
      <h3>MISIÓN</h3>
      {{mision}}
      
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="1.5:1">
      <mat-grid-tile><h3>VISIÓN</h3>
        <p>Al 2025, ser una empresa reconocida en Latinoamérica por la excelencia en la prestación de servicios de energía eléctrica y alumbrado
          público general y la satisfacción del usuario, que contribuye al desarrollo de la sociedad.</p>
      </mat-grid-tile>
      <mat-grid-tile><img src="../assets/images/empresa.jpg" /></mat-grid-tile>
  </mat-grid-list>
<router-outlet></router-outlet>
