header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;
    background-color: #fff;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-between;
    align-items: center;
  }

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body h1 {
    padding-top: 70px;
    text-align: center;
    text-size-adjust: 120%;
    color: #0a0548;
}

body h5 {
    text-align: center;
    color: #333336;
}
  
  header a {
    flex: 1;
    text-align: center;
  }
  
  header img {
    max-width: 150px;
    height: auto;
  }

  header img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  /*.slider {
    display: flex;
    width: 50000px;
    height: 100000px;
    overflow-x: scroll;
    overflow-y: scroll;
    transition-property: left;
    transition-duration: 2s;
  }

.carrusel img {
  display: flex;
  overflow-x: scroll;
  flex: 0 0 100%;
  width: 100%;
}*/


mat-grid-tile img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.carrusel {
  position: initial;
  display: flex;
  overflow-x: auto;
  flex: 0 0 100%;
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  touch-action: pan-y;
  overflow: hidden;
  height: 300px;
}

.slick-list {
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transition: transform 2s ease-in-out;
}

.slick-track {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.slick-slide {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 10px;
  position: relative;
}

.slick-slide img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  display: flex;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  background: transparent;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-arrow:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  color: #666;
  opacity: 0.75;
}

.slick-prev:before,
.slick-next:before {
  content: '';
  display: inline-block;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
  content: '←';
}

.slick-next:before {
  content: '→';
}

.slick-disabled:before {
  opacity: 0.25;
  cursor: default;
}
