<div style="display: flex; justify-content: center;">
  <header>
    <a href="ctic">CTIC</a>
    <a href="servicios">Servicios</a>
    <a href=""><img src="assets/images/Logo.png" alt="Logo de la empresa" style="width: 100px;"></a>
    <a href="blog">Blog</a>
    <a href="contactanos">Contactanos</a>

  
</header>
</div>

<body>
  <br>
  <br>
  <div class="slider" >
    <ngx-slick-carousel 
      class="carrusel"
      [config]="slideConfig">
      <div ngxSlickItem *ngFor="let imagen of imageUrls">
        <img src="{{imagen}}" alt="" />
      </div>
    </ngx-slick-carousel>
  </div>
  
  <br>

  <mat-grid-list cols="2" rowHeight="1.5:1">
    <mat-grid-tile>
      <img src="https://firebasestorage.googleapis.com/v0/b/bd-ctic.appspot.com/o/Imagenes%2FHeader%2Fimage_2023-05-03_144833806.png?alt=media&token=81c9da56-3113-4c58-84ab-fd9fc01c8a84" />
    </mat-grid-tile>
    <mat-grid-tile>
      <h3>MISIÓN</h3>
      {{mision}}
      
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="1.5:1">
      <mat-grid-tile><h3>VISIÓN</h3>
        {{visiones}}
      </mat-grid-tile>
      <mat-grid-tile><img src="../assets/images/empresa.jpg" /></mat-grid-tile>
  </mat-grid-list>

</body>
<router-outlet></router-outlet>
