header {
    position: fixed;
    width: 80%;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;
    background-color: #fff;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-between;
    align-items: center;
  }

  .slider {
    width: 50%;
    margin: 0 auto;
    justify-content: center;
  }
  
