header {
    position: fixed;
    width: 80%;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;
    background-color: #fff;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-between;
    align-items: center;
  }

  body {
    width: 90%;
    padding: 30px;
    box-shadow: 10px 10px 30px rgba(33, 146, 211, 0.696);
  }

  .slider {
    width: 50%;
    margin: 0 auto;
    justify-content: center;
  }

  .mat-card{
    background: white;
  }
  
  .botonesNavegacion{
    color: black;
  }
