<body>
    <!--------------------------------------------------------------------------------------->
    <!-- Header -->
    <!--------------------------------------------------------------------------------------->
    <nav role="navigation">
        <ul class="elementsNavBar" >
            <li id="logo">
                <a href="#"><img src="assets/images/Logo izq.png" alt="Logo de la empresa" ></a>
            </li>
            <li id="options" >
                <ul>
                    <li>
                        <a href="#ctic">Inicio</a>
                    </li>
                    <li >
                        <a href="#equipos">Equipos</a>
                    </li>
                    <li >
                        <a href="#servicios">Servicios</a>
                    </li>
                    <li >
                    <a href="#blog">Blog</a>
                </li >
                <li >
                    <a href="#contactanos">Contactanos</a>
                </li>
                </ul>
            </li>
            <li>
            <mat-form-field appearance="outline">
                <mat-label>Buscar</mat-label>
                <input matInput  />
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
            <div class="resultSearch" *ngIf="hideBuscando">
                <ul>
                    <li>
                        <a href="#ctic">Inicio</a>
                    </li>
                    <li>
                        <a href="#ctic">Inicio</a>
                        
                    </li>
                    <li>
                        <a href="#ctic">Inicio</a>
                        
                    </li>
                    <li>
                        <a href="#ctic">Inicio</a>
                        
                    </li>
                </ul>
            </div>
            </li>
        </ul>
    </nav>


</body>