body {
    font-family: Tahoma, sans-serif;
}


//Navigation bar styles
.elementsNavBar{
    padding: 0;
    margin-top: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style-type: none
}

.elementsNavBar li:first-child{
    margin-right: auto;
}

.elementsNavBar #logo img{
    width: auto;
    height: 70px;
}

.elementsNavBar #options {
    display: flex;
    padding: 0;
    margin: 0;
}

.elementsNavBar #options ul{
    padding: 0;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.elementsNavBar #options ul li{
    margin: 0px 20px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.elementsNavBar #options ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.elementsNavBar li:last-child{
    margin-left: auto;
    margin-right: 10px;
}


.resultSearch{
    position: absolute;
    background-color: #ebe8e8;
    width: max-content;
    text-align: left;
    padding-right: 50px;
    z-index: 1;
}

.resultSearch ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    background-color: #ebe8e8;
    padding-right: 50px;
    z-index: 1;
}

.resultSearch ul li{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    list-style-type: none;
}

.searchRes{
    width: 150px;
    margin-top: 10px;
    border-radius: 16px;
    text-decoration: none;
}
.searchRes a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

#optionsMovil{
    display: none;
}

#options{
    display: block; 
}

.showOptions{
    
}

.showOptions ul{
    display: none;
    background-color: #ebe8e8;
    z-index: 1;

}

.showOptions:hover {
    background-color: #ebe8e8;
    cursor: pointer;
}

.showOptions:hover ul{
    display: block;
    cursor: pointer;
    position: absolute;

}

.showOptions:hover ul li {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    list-style-type: none;
}

.showOptions:hover ul li a{
    
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    display: block;
    width: 100%;
    text-align: left;
}

.imagenLogo{
    margin-left: 10px;
}

// Seccion de slider de imagenes
.slider {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    text-align: justify;
    margin-top: 0;
  }

  .bloqueHeader {
    display: inline-block; 
    position: relative; 
    width: 100%; 
    height: 300px; 
    overflow: hidden; 
    opacity: 0.5;
}

.bloqueHeader img{
    width: inherit; 
    height: auto; 
    object-fit: contain;
    object-position: 25% 25%; 

}

.overlay {
    position: absolute;
    top: 160px;
    font-weight: bold;
    text-align: left;
  }

  .overlay h1{
    font-size: 60px;
  }

  .overlay h3{
    font-size: 30px;
    margin-left: 15px;
  }

  .intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }


  //Seccion mision


.container {
    max-width: 80%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
  } 

  .container .content{
    margin-right: 15px;
    margin-left: 15px;
  }

  .container .imagen img{
    width: 200px;
    height: auto;
    border-radius: 25px;
  }





// Seccion de responsive
@media (max-width: 1040px) {

    //responsive de la barra de busqueda
    .resultSearch ul{
        padding-right: 15px;
    }

    //responsive de la barra de navegacion
    #optionsMovil {
      display: block; 
    }

    .elementsNavBar #logo img{
        width: auto;
        height: 50px;
    }
    
    #options {
      display: none!important; 
    }

    .searchBox{
        width: 180px;
    }

    .resultSearch{
        padding-right: 10px;
    }

    .searchRes{
        width: 120px;
    }

    //responsive del slider de imagenes
    .overlay h1{
        font-size: 50px;
    }

    .overlay h3{
        font-size: 15px;
        margin-left: 10px;
    }

    .intro-divider {
        width: 400px;
        border-top: 1px solid #f8f8f8;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    .bloqueHeader {
        display: inline-block; 
        position: relative; 
        width: 100%; 
        height: 200px; 
        overflow: hidden;
        opacity: 0.5;
    }

    .bloqueHeader img{
        width: inherit;; 
        height: 200px; 
        object-fit: cover;
    }

    //seccion mision

    .container {
        max-width: 100%;
        display: flex;
        flex-direction: column;
      } 
    
      .container .content{
        margin-right: 15px;
        margin-left: 15px;
      }

      .container .imagen{
        justify-content: center;
        text-align: center;
      }
    
      .container .imagen img{
        width: 80%;
        height: auto; 
        border-radius: 25px;

      }
    

  }