<body>
    <!--------------------------------------------------------------------------------------->
    <!-- Header -->
    <!--------------------------------------------------------------------------------------->
    <nav role="navigation">
        <ul class="elementsNavBar" >
            <li id="logo">
                <a href="#" class="imagenLogo"><img src="assets/images/Logo izq.png" alt="Logo de la empresa" ></a>
            </li>
            <!-- Opciones para web-->
            <li id="options">
                <ul>
                    <li>
                        <a href="#ctic">Inicio</a>
                    </li>
                    <li >
                        <a href="#equipos">Equipos</a>
                    </li>
                    <li >
                        <a href="#servicios">Servicios</a>
                    </li>
                    <li >
                    <a href="#blog">Blog</a>
                </li >
                <li >
                    <a href="#contactanos">Contactanos</a>
                </li>
                </ul>
            </li>
            <!-- Opciones para movil-->
            <li id="optionsMovil">
                <div class="showOptions">
                    <mat-icon>menu</mat-icon>

                    <ul >
                        <li>
                            <a href="#ctic">Inicio</a>
                        </li>
                        <li >
                            <a href="#equipos">Equipos</a>
                        </li>
                        <li >
                            <a href="#servicios">Servicios</a>
                        </li>
                        <li >
                            <a href="#blog">Blog</a>
                        </li >
                        <li >
                            <a href="#contactanos">Contactanos</a>
                        </li>
                    </ul>
                </div>
                

            <li>
            <mat-form-field appearance="outline" class="searchBox">
                <mat-label>Buscar</mat-label>
                <input matInput (input)="search()" (click)="searching()"  [(ngModel)]="searchKeyword"/>
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
            <div class="resultSearch" *ngIf="hideBuscando">
                <ul >
                    <div *ngFor="let res of searchResults; let i=index">
                        <li class="searchRes">
                            <a href="#ctic">{{res.data.titulo}}</a>
                            
                        </li>
                        <hr>
                    </div>
                    
                    
                </ul>
            </div>
            </li>
        </ul>
    </nav>

    <!------------------------------------------------------------------------------------------------>
    <!-- Slider de imágenes -->
    <!------------------------------------------------------------------------------------------------>

    <div class="slider" id="inicio">
        <ngx-slick-carousel 
        [config]="slideConfig"
        #slickModal="slick-carousel"
        >
        <div ngxSlickItem *ngFor="let imagen of imageUrls" class="bloqueHeader">
            <img src="{{imagen}}" alt="" />
        </div>
        </ngx-slick-carousel>
    </div>
    <div class="overlay">
        <h1>Centro Temporal</h1>
        <br>
        <h3>de Implementaciones y competencias</h3>
        <hr class="intro-divider">
    </div>

    <!------------------------------------------------------------------------------------------------>
    <!-- Zona mision -->
    <!------------------------------------------------------------------------------------------------>


    <div class="container">
        <div class="content">
            <hr>
            <h2 >MISION</h2>
            <p >{{mision}}</p>
        </div>
        <div class="imagen">
            <img src="{{imagenMision}}" alt="" >
        </div>
    </div>

    


</body>