<body>
    <div class="container">
      <div class="column">
        <h2>Secciones</h2>
        <mat-form-field>
          <mat-label>Documentos firebase</mat-label>
          <mat-select (selectionChange)="cambioColeccion($event)" value="{{valueSelect}}">
            <mat-option value="blog">Blog</mat-option>
            <mat-option value="equipos">Equipos</mat-option>
            <mat-option value="servicios">Servicios</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="column">
        <div style="display: flex; align-items: center;">
          <h2 style="margin-top: 11px;">Entradas: </h2>
          <div style="margin-left: auto;"></div>
          <button mat-icon-button aria-label="" (click)="crear()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        
        <div style="height: 80%;">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
                <div style="height: 80%;">
                    <!-- Position Column -->
                <ng-container matColumnDef="titulo">
                    <th mat-header-cell *matHeaderCellDef>Titulo</th>
                    <td mat-cell *matCellDef="let element" class="row">{{element.data.titulo}}</td>
                  </ng-container>
              
                
                  <!-- Weight Column -->
                  <ng-container matColumnDef="imagen">
                    <th mat-header-cell *matHeaderCellDef>Imagen</th>
                    <td mat-cell *matCellDef="let element" class="row">
                      <img class="imagenTabla" src="{{element.data.imagen}}">
                  </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                      mat-row
                      (click)="modificar(row)"
                      [class.demo-row-is-clicked]=""
                      *matRowDef="let row; columns: displayedColumns;"
                  ></tr>
                </div>
                
              </table>
              <br>
              <mat-paginator [pageSizeOptions]="[3, 5, 8]"
                 showFirstLastButtons
                 aria-label="Cambiar página">
              </mat-paginator>
        </div>
      </div>
    </div>
  </body>