

<mat-card style="justify-content: center;">
    <mat-card-title style="text-align: center; margin-top: 5px;">
        <h2>{{tituloVentana}}</h2>
    </mat-card-title>
</mat-card>
<hr>
<mat-card>
    <mat-card-content>
        <mat-label class="left-align">Título:</mat-label>
        <mat-form-field>
            <input matInput type="text" [(ngModel)]="titulo" name="title" placeholder="{{titulo}}"/>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content *ngIf="!ocultarAutor">
        <mat-label class="left-align">Autor:</mat-label>
        <mat-form-field>
            <input matInput type="text" [(ngModel)]="autor" name="autor" placeholder="{{autor}}"/>
        </mat-form-field>
    </mat-card-content>    
    <mat-card-content *ngIf="!ocultarCargos">
        <mat-label class="left-align" >Cargos:</mat-label>
        <mat-form-field >
            <input matInput type="text" [(ngModel)]="cargos" name="autor" placeholder="{{cargos}}"/>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content *ngIf="!ocultarTecnologias">
        <mat-label class="left-align" >Tecnologías:</mat-label>
        <mat-form-field >
            <input matInput type="text" [(ngModel)]="tecnologias" name="autor" placeholder="{{tecnologias}}"/>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content *ngIf="!ocultarDescripcion">
        <mat-label class="left-align" >Descripción:</mat-label>
        <mat-form-field >
            <textarea matInput rows="6" [(ngModel)]="descripcion" name="description"  ></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content *ngIf="!ocultarTexto">
        <mat-label class="left-align" >Texto:</mat-label>
        <mat-form-field>
            <textarea matInput rows="6" [(ngModel)]="texto" name="texto" placeholder="{{texto}}" ></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content *ngIf="!ocultarTags">
        <mat-label class="left-align" >Tags:</mat-label>
        <mat-form-field>
            <textarea matInput rows="3" [(ngModel)]="tags" name="tags" placeholder="{{tags}}" ></textarea>
        </mat-form-field>
    </mat-card-content>
</mat-card>
<mat-card class="imagenParent">
    <mat-card-content >
        <mat-label class="left-align" >Imagen:</mat-label>
    </mat-card-content>
    <div class="container">
        <img src="{{imagen}}" *ngIf="imagen!=''" />
        <div class="overlay"></div>
        <div class="button" >
            <a> <input mat-raised-button color="primary" type="file" (change)="cambiarImagen($event)" accept="image/*"></a>
            
        </div>
    </div>
</mat-card>
<mat-card *ngIf="!ocultarArchivo">
    <mat-card-content >
        <mat-label class="left-align" >Documento relacionado:</mat-label>
    </mat-card-content>
    <div style="display: flex;
    flex-direction: column;
    align-items: center;">
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
        <div class="file-upload">

            {{fileName || "No se ha seleccionado ningún archivo"}}
         
             <button mat-mini-fab color="primary" class="upload-btn"
               (click)="fileUpload.click()">
                 <mat-icon>attach_file</mat-icon>
             </button>
         </div>
        <br>
        <button mat-button (click)="uploadFile()">Subir archivo</button>
        
        <div *ngIf="documentLink">
          <h3>Archivo subido correctamente</h3>
          <p>Descargar archivo:</p>
          <a [href]="documentLink" download>
            <i class="fa fa-file"></i> Archivo
          </a>
        </div>
        <br>
    </div>
</mat-card>
<hr>
<mat-card class="imagenParent"> 
    <button mat-raised-button color="primary" (click)="guardar()" class="guardar">{{textoBoton}}</button>
    <br>
</mat-card>
