<form (ngSubmit)="submitForm()">
  <mat-card>
    <mat-card-title>Error de autenticación</mat-card-title>
    <mat-card-content>
      <mat-error *ngIf="hide">Combinación usuario contraseña incorrecta</mat-error>
    </mat-card-content>
  </mat-card>
  <mat-form-field>
    <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
  </mat-form-field>
  <br>
  <div style="display: flex; justify-content: center;">
    <button mat-raised-button color="primary" type="submit">Login</button>
  </div>
</form>