<form (ngSubmit)="submitForm()">
  <mat-card *ngIf="hide" style="margin: 5px;">
    <mat-card-content>
      <mat-error>Usuario o contraseña incorrectos</mat-error>
    </mat-card-content>
  </mat-card>
  <mat-form-field style="display: flex; justify-content: center;">
    <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
  </mat-form-field>
  <br>
  <mat-form-field style="display: flex; justify-content: center;">
    <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
  </mat-form-field>
  <br>
  <div style="display: flex; justify-content: center;">
    <button mat-raised-button color="primary" type="submit">Login</button>
  </div>
</form>